feedback-app-backend/statemachine/feedback-sm.json
{
  "Comment": "A state machine for processing feedbacks",
  "StartAt": "SentimentAnalysisState",
  "States": {
    "SentimentAnalysisState": {
      "Type": "Task",
      "Resource": "${SentimentAnalysisServiceFunctionArn}",
      "Next": "SumbitFeedbackState"
    },
    "SumbitFeedbackState": {
      "Type": "Task",
      "Resource": "${SubmitFeedbackServiceFunctionArn}",
      "InputPath": "$.body",
      "Next": "SendWebhookNotification"
    },
    "SendWebhookNotification": {
      "Type": "Task",
      "Resource": "${WebHookNotificationServiceFunctionArn}",
      "InputPath": "$.body",
      "End": true
    }
  }
}